.front-nav {
    display: flex;
    justify-content: space-between;
    background: $color-blue;
    align-items: center;
    padding: 3rem;
    &__ul {

        display: flex;
        align-items: center;
        gap: 2rem;

        padding: 1rem 2rem;

        &__item {
            &__link {
                text-decoration: none;
                color: $color-black;

                &:hover {
                    color: rgba($color-black, 0.5);
                }
            }
        }

        &--left {
        }

        &--right {
        }
    }
    &__avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logout-form {
        input[type=submit] {
            background: transparent;
            border: none;
            font-size: 1.5rem;
            &:hover {
                color: rgba($color-black, 0.5);
                cursor: pointer;
            }
        }

    }
}
