.post-create {
    &__form {

        &__submit__container {
            display: flex;
            justify-content: flex-end;
        }

        &__submit {
            margin: 10px 2rem;
            background: #0d66c2;
            color: #fff;
            border: none;
            padding: 8px;
            border-radius: 12px;
        }
    }
}

.post-edit {
    &__form {

        &__submit__container {
            display: flex;
            justify-content: flex-end;
        }

        &__submit {
            margin: 10px 2rem;
            background: #0d66c2;
            color: #fff;
            border: none;
            padding: 8px;
            border-radius: 12px;
        }
    }
}

.posts-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;

    .post {

    }
}

.myforms {
    &__post {
        border: 1px solid $color-black;
        background: $color-white;
        padding: 2rem;
        border-radius: 1rem;
        transition: ease-in-out 0.5s;

        &:hover {
            transition: ease-in-out 0.5s;
            background: rgba($color-black, 0.1);
        }

        &__published {
            &--red {
                color: red;
            }

            &--green {
                color: green;
            }
        }
    }

}
